@media screen and (max-width: device-width) {
  #features {
    padding: 20px;
    width: auto;
  }
  #about,
  #services,
  #team,
  #contact,
  #footer {
    width: auto;
  }

  .col-md-3 col-sm-6 team{
    justify-content: center;
  }

  #portfolio {
    width: auto;
  }
  
}

